<h2>CHAT</h2>

<h2 id="name"></h2>
<form id="chatform">
    <input type="text" name="chatMessage" id="chatMessage">
    <input type="submit" value="SEND">
</form>

<div id="chat"></div>


<script src="/socket.io/socket.io.js"></script>
<script src="/src/public/js/chat.js"></script>
