


<h3>Home Handle Bars</h3>

<h2 id="name"></h2>
<form action="/api/products" method="post" id="productform">

name <input type="text" name="productname" id="product">
id <input type="number" id="idproduct">
price <input type="number" name="productprice" id="productprice">
stock <input type="number" name="productstock" id="productstock">
<input type="submit" value="SUBMIT">
</form>


<div id="chat"></div>