<h3>REAL TIME</h3>

<div>
<h2>  AGREGAR PRODUCTO </h2>
<form action="/api/products" method="post" id="productform">

name: <input type="text" name="productname" id="productname">
id: <input type="number" id="idproduct">
price: <input type="number" name="productprice" id="productprice">
stock: <input type="number" name="productstock" id="productstock">
<input type="submit" value="SUBMIT">
</form>
</div>



<script src="/socket.io/socket.io.js"></script>
<script src="/src/public/js/index.js"></script>


