<h2>Primera vista</h2>
<form id="form">
    Price: <input type="number" name="price" id="price">
    <input type="submit" value="SEND">
</form>

<script src="/socket.io/socket.io.js"></script>
<script src="/src/public/js/index.js"></script>


